# Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import requests
from pprint import pprint
from census import Census

# File to Load (Remember to Change These)
poverty_path = Path("Resources/minnesota_poverty_data.csv")

poverty_df = pd.read_csv(poverty_path)
poverty_df.head()

,Sample Population,Population Poverty,Female Poverty,Females < 5 Poverty,Females 5 Poverty,Females 6 to 11 Poverty,Females 12 to 14 Poverty,Females 15 Poverty,Females 16 to 17 Poverty,Females 18 to 24 Poverty,...,Male Senior Poverty %.1,Male Senior Poverty % (White Alone).1,Male Senior Poverty % (Black or African American Alone).1,Male Senior Poverty % (American Indian and Alaska Native Alone).1,Male Senior Poverty % (Asian Alone).1,Male Senior Poverty % (Native Hawaiian and Other Pacific Islander Alone).1,Male Senior Poverty % (Some Other Race Alone).1,Male Senior Poverty % (Two or More Races).1,"Male Senior Poverty % (White Alone, Not Hispanic or Latino).1",Male Senior Poverty % (Hispanic or Latino).1
0,16129.0,2185.0,1197.0,133.0,16.0,85.0,37.0,23.0,48.0,124.0,...,1.382603,1.401960,0.000000,0.000000,0.000000,NaN,0.000000,3.125000,1.401290,0.735294
1,323359.0,20730.0,11736.0,992.0,302.0,1123.0,535.0,124.0,385.0,1314.0,...,0.360281,0.378860,0.559701,0.000000,0.063786,0.0,0.227687,0.000000,0.383482,0.178053
2,31644.0,3554.0,2010.0,251.0,69.0,109.0,50.0,21.0,75.0,312.0,...,1.131336,1.111585,6.930693,1.774273,0.000000,0.0,0.000000,0.176678,1.119657,0.000000
3,42043.0,8383.0,4528.0,581.0,98.0,406.0,128.0,88.0,97.0,1021.0,...,0.727826,0.652077,0.749064,1.159128,0.000000,0.0,0.000000,0.449294,0.658254,0.000000
4,37411.0,4428.0,2570.0,213.0,100.0,214.0,84.0,25.0,44.0,585.0,...,0.569351,0.598819,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.606544,0.000000

## State Summary

In [2]:
county_count = len(poverty_df["County"].unique())
print(f'There are {county_count} counties.')

There are 87 counties.

In [3]:
# summary_stats

byYear_andCounty_df = poverty_df.groupby(['Year', 'County'])

summary_stats = byYear_andCounty_df['Sample Population'].describe()
summary_stats

                      count      mean  std       min       25%       50%  \
Year County
2010 Aitkin             1.0   16129.0  NaN   16129.0   16129.0   16129.0
     Anoka              1.0  323359.0  NaN  323359.0  323359.0  323359.0
     Becker             1.0   31644.0  NaN   31644.0   31644.0   31644.0
     Beltrami           1.0   42043.0  NaN   42043.0   42043.0   42043.0
     Benton             1.0   37411.0  NaN   37411.0   37411.0   37411.0
...                     ...       ...  ...       ...       ...       ...
2021 Watonwan           1.0   11105.0  NaN   11105.0   11105.0   11105.0
     Wilkin             1.0    6391.0  NaN    6391.0    6391.0    6391.0
     Winona             1.0   46459.0  NaN   46459.0   46459.0   46459.0
     Wright             1.0  138525.0  NaN  138525.0  138525.0  138525.0
     Yellow Medicine    1.0    9469.0  NaN    9469.0    9469.0    9469.0

                           75%       max
Year County
2010 Aitkin            16129.0   16129.0
     Anoka            323359.0  323359.0
     Becker            31644.0   31644.0
     Beltrami          42043.0   42043.0
     Benton            37411.0   37411.0
...                        ...       ...
2021 Watonwan          11105.0   11105.0
     Wilkin             6391.0    6391.0
     Winona            46459.0   46459.0
     Wright           138525.0  138525.0
     Yellow Medicine    9469.0    9469.0

[1044 rows x 8 columns]

In [4]:
# Summing up the counties for each year
state_totals = summary_stats.groupby('Year').sum()
state_totals

,count,mean,std,min,25%,50%,75%,max
Year,,,,,,,,
2010,87.0,5119104.0,0.0,5119104.0,5119104.0,5119104.0,5119104.0,5119104.0
2011,87.0,5155949.0,0.0,5155949.0,5155949.0,5155949.0,5155949.0,5155949.0
2012,87.0,5191097.0,0.0,5191097.0,5191097.0,5191097.0,5191097.0,5191097.0
2013,87.0,5223936.0,0.0,5223936.0,5223936.0,5223936.0,5223936.0,5223936.0
2014,87.0,5260351.0,0.0,5260351.0,5260351.0,5260351.0,5260351.0,5260351.0
2015,87.0,5295613.0,0.0,5295613.0,5295613.0,5295613.0,5295613.0,5295613.0
2016,87.0,5327019.0,0.0,5327019.0,5327019.0,5327019.0,5327019.0,5327019.0
2017,87.0,5366210.0,0.0,5366210.0,5366210.0,5366210.0,5366210.0,5366210.0
2018,87.0,5403634.0,0.0,5403634.0,5403634.0,5403634.0,5403634.0,5403634.0
2019,87.0,5440087.0,0.0,5440087.0,5440087.0,5440087.0,5440087.0,5440087.0
2020,87.0,5476956.0,0.0,5476956.0,5476956.0,5476956.0,5476956.0,5476956.0
2021,87.0,5550433.0,0.0,5550433.0,5550433.0,5550433.0,5550433.0,5550433.0